@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html,
body {
  font-family: 'DM Sans', sans-serif;
  @apply text-primary bg-[#EDEDED] overflow-x-hidden;
}

.container {
  @apply mx-auto px-3 sm:px-5 xl:px-10 w-full;
}

.boldparagraph {
  @apply md:text-base text-sm font-bold;
}

.genrespan {
  @apply border font-bold py-3 md:text-base text-xs px-5 md:px-8 cursor-pointer hover:opacity-80;

  &.blue {
    @apply bg-[#F3F8FC] border-[#c4d1db];
  }
  &.purple {
    @apply bg-[#F1F1FC] border-[#c4c4dd];
  }
  &.yellow {
    @apply bg-[#FAFAF3] border-[#e2e2c7];
  }
  &.teal {
    @apply bg-[#E9FBF8] border-[#cce8e3];
  }
  &.pink {
    @apply bg-[#FDF4F8] border-[#eccfdc];
  }
  &.beige {
    @apply bg-[#F5F3F2] border-[#eddbd2];
  }
  &.red {
    @apply bg-[#edebf7] border-[#dad6f1];
  }
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.paginationlist {
  ul {
    @apply flex items-center w-full;

    li {
      &:not(:first-child):not(:last-child) {
        @apply mx-2;
      }
      @apply flex items-center justify-center md:w-16 px-3 py-1.5 md:py-2 ml-0 bg-transparent border border-gray-700 rounded-sm cursor-pointer md:h-14 hover:bg-gray-100;

      &:first-child {
        @apply mr-2 md:mr-8;
      }
      &:last-child {
        @apply mr-2 md:ml-8;
      }
      &.active {
        @apply bg-dark text-white;
      }
    }
  }
}

.reactselect {
  @apply w-full px-3 text-xs text-customgray600 bg-customgray200 focus:outline-none py-1 border border-primary;
  div {
    @apply bg-customgray200 border-none focus:outline-none focus:border-none;
  }
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  background-color: currentColor;
  margin: 20px auto;
  position: relative;
  color: #281313;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px;
  }

  100% {
    height: 4px;
  }
}
